:root {
  /************************/
  /*****          *********/
  /*    GLOBAL VARIABLES  */
  /*****          ********/
  /************************/

  /* font sizes */
  --extraBigFontSize: 64px;
  --bigFontSize: 53px;
  --mediumFontSize: 28px;
  --regularFontSize: 20px;
  --smallFontSize: 16px;

  /* colors */
  --yellow_01: #e1bc55;
  --yellow_02: #e6ba64;
  --yellow_03: #c39e58;
  --black: #000000;
  --white: #ffffff;

  /* fonts */
  --fontRobotoConsended: 'Roboto Condensed', sans-serif;
  --fontDancingScript: 'Dancing Script', cursive;
}

body {
  text-align: center;
  background-color: black;
  color: var(--white);
  font-family: var(--fontRobotoConsended);
}

h3 {
  font-family: var(--fontDancingScript);
  font-size: var(--bigFontSize);
  font-weight: normal;
}

a {
  text-decoration: none;
}

.marginBottom {
  margin-bottom: 30px;
}

.paddingTop {
  padding-top: 30px;
}

.about h3 {
  margin-top: 10px;
}

.btnToSection {
  cursor: pointer;
}

.not-selected {
  display: none;
}

#sierpinsky {
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
}

.textContainer {
  margin: auto;
  /* width: 60%; */
  padding: 10px;
  /* max-width: 30%; */
  text-align: justify;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactTextContainer {
  max-width: 100%;
}

.contac {
  background-size: contain;
}

.btnToSvgs {
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  padding: 5px;
  font-weight: bolder;
  margin: 5px;
}

.btnToSvgs:hover {
  text-decoration: none;
  background-color: var(--black);
  border-style: solid;
  border-width: thin;
  border-color: var(--yellow_02);
}

.svgIcon {
  width: 60px;
  height: 80px;
}

.languageIcon {
  width: 60px;
  height: 60px;
}

.skillsIcon {
  width: 30px;
  height: 30px;
}

.btn-social-icon {
  margin: 20px;
}

/* **************************************************************************************/
/*   Animations
/*    ************************************************************************************* */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scalling {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.triangulo-grande-animate {
  animation: fadeIn 1.5s ease-in;
  animation: scalling 2s;
  transform-origin: center center;
  animation-fill-mode: forwards;
}

.triangulos-medianos-animate {
  animation: fadeIn 1s ease-in 1.5s;
  animation-fill-mode: forwards;
}

.triangulos-pequenos-animate {
  animation: fadeIn 1s ease-in 1.7s;
  animation-fill-mode: forwards;
}

.triangulos-diminutos-animate {
  animation: fadeIn 1s ease-in 2s;
  animation-fill-mode: forwards;
}

.titulos-animate {
  animation: fadeIn 1s ease-in 2s;
  animation-fill-mode: forwards;
}

/* @media (min-width: 300px) and (max-width: 437px) {
} */

/* **************************************************************************************/
/*   For medium celulars
/*    ************************************************************************************* */
/* @media (min-width: 437px) and (max-width: 700px) {
} */

/* **************************************************************************************/
/*   For Tablet
/*    ************************************************************************************* */
/* @media (min-width: 700px) and (max-width: 992px) {
} */

/* **************************************************************************************/
/*   For DESKTOP
/*    ************************************************************************************* */
/* @media only screen and (min-width: 992px) {
} */
