@media (min-width: 300px) and (max-width: 437px) {
  .about,
  .contac {
    background-color: black;
    padding-bottom: 30px;
    padding-top: 25px;
  }

  /* photo */
  #kenya-photo {
    display: none;
  }

  #kenya-photo:hover {
    filter: none;
  }

  .photoContainer,
  .svgs1 {
    padding: 20px;
  }

  .portfolioImage {
    margin: 5px;
    border-style: solid;
    border-width: thin;
    width: 75%;
    border-color: #e6ba64;
  }

  .sect {
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .fa {
    color: #c39e58;
  }

  .svgs1 {
    background-color: black;
    width: 138px;
    margin-right: auto;
    margin-left: auto;
  }

  .languageMiddle {
    margin: 0 18px 0 18px;
  }

  #languageTitles {
    margin-top: 10px;
  }
}

/* **************************************************************************************/
/*   For medium celulars
/*    ************************************************************************************* */
@media (min-width: 437px) and (max-width: 700px) {
  #sierpinsky {
    width: 100%;
    height: 700px;
  }

  .about,
  .contac {
    /* background-image: url(http://i68.tinypic.com/1zx1mdv.png); */
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 188%;
    background-color: black;
    padding-bottom: 300px;
    padding-top: 25px;
  }

  /* photo */
  #kenya-photo {
    display: none;
  }

  #kenya-photo:hover {
    filter: none;
  }

  .photoContainer,
  .svgs1 {
    padding: 20px;
  }

  .portfolioImage {
    margin: 5px;
    border-style: solid;
    border-width: thin;
    width: 75%;
    border-color: #e6ba64;
  }

  .sect {
    margin-top: 50px;
    margin-bottom: 300px;
  }

  .fa {
    color: #c39e58;
  }

  .svgs1 {
    background-color: black;
    width: 138px;
    margin-right: auto;
    margin-left: auto;
  }

  .languageMiddle {
    margin: 0 18px 0 18px;
  }

  #languageTitles {
    margin-top: 10px;
  }

  .contac {
    background-size: 154%;
    background-position-x: 50%;
  }
}

/* **************************************************************************************/
/*   For Tablet
/*    ************************************************************************************* */
@media (min-width: 700px) and (max-width: 992px) {
  .about,
  .contac {
    /* background-image: url(http://i68.tinypic.com/1zx1mdv.png); */
    width: 70vw;
    background-image: url(./big-out-line.svg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    /* background-size: 144%; */
    background-color: black;
    padding-bottom: 300px;
    padding-top: 25px;
  }

  /* photo */
  #kenya-photo {
    /* width: 10%; */
    width: 156px;
    height: 170px;
    border-radius: 100%;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
  }

  #kenya-photo:hover {
    filter: none;
  }

  .photoContainer,
  .svgs1 {
    padding: 20px;
  }

  .portfolioImage {
    margin: 5px;
    border-style: solid;
    border-width: thin;
    /*    width: 25%;*/
    width: 40%;
    border-color: #e6ba64;
  }

  .sect {
    margin-top: 50px;
    margin-bottom: 300px;
  }

  .fa {
    color: #c39e58;
  }

  .svgs1 {
    background-color: black;
    width: 138px;
    margin-right: auto;
    margin-left: auto;
  }

  .languageMiddle {
    margin: 0 18px 0 18px;
  }

  #languageTitles {
    margin-top: 10px;
  }

  .contac {
    background-size: 113%;
    background-position-x: 50%;
  }
}

/* **************************************************************************************/
/*   For DESKTOP
/*    ************************************************************************************* */
@media only screen and (min-width: 992px) {
  #sec-1 {
    display: flex;
    justify-content: center;
  }

  .about,
  .contac {
    width: 70vw;
    background-image: url(./big-out-line.svg);
    background-repeat: no-repeat;
    background-color: black;
    padding-bottom: 300px;
    padding-top: 25px;
  }

  .logosWrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btnToSvgs {
    margin: 5px;
  }

  /* photo */
  #kenya-photo {
    /* width: 10%; */
    width: 156px;
    height: 170px;
    border-radius: 100%;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    transition: filter 1s, ease 1s;
  }

  #kenya-photo:hover {
    filter: none;
  }

  .photoContainer,
  .svgs1 {
    padding: 20px;
  }

  .portfolioImage {
    margin: 5px;
    border-style: solid;
    border-width: thin;
    width: 25%;
    border-color: #e6ba64;
  }

  .sect {
    margin-top: 50px;
    margin-bottom: 300px;
  }

  .fa {
    color: #c39e58;
  }

  .svgs1 {
    background-color: black;
    width: 138px;
    margin-right: auto;
    margin-left: auto;
  }

  .languageMiddle {
    margin: 0 18px 0 18px;
  }

  #languageTitles {
    margin-top: 10px;
  }

  .about {
    /* background-size: 90%; */
    background-position-x: 50%;
  }

  .contac {
    /* background-size: 70%; */
    background-position-x: 50%;
  }
}
